{control ckeditor}

<script src="{$basePath}/ckeditor/ckeditor.js"></script>
<script>

	{!$config}

	CKEDITOR.replace('editor', {
		customConfig: '',
		"extraPlugins": "imagebrowser",
		"imageBrowser_listUrl": {link GetJsonImageList}
	});
</script>